@use '../01-settings/' as *;
@use '../02-tools/' as *;
@use 'sass:color';

// .btn {

//     color: $color-white;
//     border: none;
//     border-radius: .4rem;
//     display: inline-block;
//     font-size: 2.2rem;
//     font-weight: bold;
//     padding: 1.5rem;
//     text-align: center;
//     width: 20rem;
//     transition-duration: .5s;

//     &--red {
//         background-color: $color-red;
//         &:hover {
//             background-color: color.scale($color-red, $blackness: 20%);
//         }
//     }

//     &--green {
//         background-color: $color-green;
//         &:hover {
//             background-color: color.scale($color-green, $blackness: 20%);
//         }
//     }

//     &--outline {
//         background-color: transparent;
//         border: 1px solid $color-white;
//         &:hover {
//             background-color: rgba(255, 255, 255, .3);
//         }
//     }

//     &--circle {
//         border-radius: 50%;
//         width: 10rem;
//         height: 10rem;
//         line-height: 10rem;
//         padding: 0;
//     }

// }

.btn-transparent {


    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 2rem;
    letter-spacing: .2ex;
    z-index: 1;
    box-shadow: 0 0 10px #fff;
    transition-duration: .5s;
    border-radius: .6rem;
    width: 16.8rem*0.5;
    height: 10rem*.5;


    @include medium {
        width: 16.8rem;
        height: 10rem;
        font-size: 3rem;
    }


    &:hover {

        background-color: $color-transparent;
        box-shadow: 0 0 15px #f2f2f2;


    }



}