@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading {
    &--h1 {

        color: $color-white;
        font-size: 4rem;
        
        @include small{
            font-size: 6rem;
        }
        
        @include medium {
            font-size: 8rem;
        }
        
        

    }

    &--h2 {

        font-size: 5rem;
        width: 100%;
        text-align: center;

    }
    &--h3 {
        display: flex;
        font-size: 3rem;
        align-items: center;
        width: 100%;
        @include medium {
            font-size: 5rem;
        }
    }
}