@use '../01-settings/' as *;
@use '../02-tools/' as *;

.text-color-white {
    color: $color-white;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.text-align-left{
    text-align: left;
}
.text-font-classic {
    font-family: Arial, Helvetica, sans-serif;
}
.font-sm {
    font-size: 1.7rem;
    
    
    @include small {
        font-size: 1.5rem;
    }
    @include medium {
        font-size: 2.5rem;
    }
}

