@use '../01-settings/' as *;
@use '../02-tools/' as *;

.row {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1.5 * $grid-base;

    &--center{
        min-height: 85%;
        max-width: 700px;
       
        align-items: flex-end;
        justify-content: space-evenly;

        
    }
    

    @include medium {
        flex-direction: row;
    }
    &__kontakt {
      
            color: $color3;
            background-color: $color-transparent;
            border-radius: 10px;
            box-shadow: 8px 8px 20px 0px  $color3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include small {
                margin: 2rem;
                padding: 1.5rem;  

            }
            

        
        
        }
    }

