$color1: #f2f2f2;
$color2: #595302;
$color3: #222601;
$color4:#BBBF9F;
$color5:#9FBCBF;

$color-white: $color1;
$color-red: $color2;
$color-green: $color3;

$color-transparent: rgb(242, 242, 242, 0.5);
$color-transparent-dark: #5953026c;

$color-bg-section: $color5;

$color-bg-footer: #9fbcbf;

$font-base: 10px;

$grid-base: $font-base;

$gutter: 1.5 * $grid-base;

$bp-xs: 340px;

$bp-sm: 576px;

$bp-md: 768px;

$bp-lg: 1200px;
