@use '../01-settings/' as *;

p {
    font-family: 'Square Peg', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: $grid-base;
    margin-top: $grid-base * 1.5;
}

table{
    font-family: 'Roboto', sans-serif;
    color: $color-green;
    background-color: transparent;
    margin: $grid-base auto;
    
}

table th, table td {
    
    border: 2px groove $color1;
    padding: 3px;
    
   

}
tbody tr:nth-last-of-type(even){
    background-color: rgba(255,255,255, 0.2);
}

